.headerContainer {
  padding: 0%;
  margin: 0%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mainContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #000;
  column-gap: 10px;
  margin: 0%;
  padding: 0%;
  height: 100%;
  width: 100%;
}

.title {
  color: rgb(54, 54, 41);
  word-break: break-word;
  white-space: nowrap;

  flex: 1 1 0;
  font-size: clamp(2rem, 2vw, 3.5rem);
  text-align: center;
}

.rightSideContent {
  flex: 0 1 auto;
  max-width: 5rem;
  max-height: 3rem;
}

.leftSideContent {
  flex: 0 1 auto;
  max-width: 5rem;
  font-size: 1rem;
}

.additionalContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 97%;
  margin-bottom: 3px;
  font-size: clamp(0.1rem, 0.4rem, 0.4rem);
  border-bottom: 1px solid #000;
}

@media (max-width: 600px) {
  .rightSideContent {
    display: none;
  }

  .title {
    font-size: clamp(1rem, 1vw, 2.5rem);
  }
}

@media (max-width: 750px) {
  .leftSideContent {
    display: none;
  }
}
