.allContent {
  /* display: flex; */
  width: 100%;
  height: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  /* flex-grow: 1; */
}
.title {
  max-height: 5%;
}

.innerContent {
  --side-Content-Width: 30%;
  display: flex;
  flex-direction: row;
  gap: 5px;
  white-space: normal;
  overflow-wrap: break-word;
  font-size: 0.5rem;
  height: 40%;
  max-height: 40%;
}

.innerContent .sideSection {
  width: var(--side-Content-Width);
  max-width: var(--side-Content-Width);
}

.innerContent .mainSection {
  width: 50%;
}

@media (max-width: 600px) {
  .innerContent {
    flex-direction: column;
    --side-Content-Width: 100%;
  }
  .innerContent .mainSection {
    width: 100%;
  }
  .allContent {
    overflow: scroll;
  }
}
