.body {
  background-color: white;
  padding: 0.5rem;
  max-width: 600px;
  height: 80vh;
  width: 60vw;
  box-shadow: 2rem 2rem 1rem rgb(0, 0, 0);
  border-radius: 10px;
  text-align: center;
  font-family: "Georgia", serif;
}

/**
 * ----------------------------------------
 * animation rotate-scale-up
 * ----------------------------------------
 */
@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(0.2) rotateZ(0);
    transform: scale(0.2) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(0.5) rotateZ(360deg);
    transform: scale(0.5) rotateZ(360deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(720deg);
    transform: scale(1) rotateZ(720deg);
  }
}

.rotate-scale-up {
  -webkit-animation: rotate-scale-up 0.65s linear both;
  animation: rotate-scale-up 0.8s steps(30, end) both;
}
