.background {
  background-size: cover;
  background-image: url("/assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%; /* lets height adjust based on width */
  max-width: 100vw; /* won't overflow viewport width */
  display: flex;
  justify-content: center;
  align-items: center;
}
